version: '3' # specify docker-compose version

# Define the services/containers to be run
services:
  angular-client: # name of the first service
    build: . # specify the directory of the Dockerfile
    ports:
      - "4200:4200" # specify port forewarding
    volumes: 
      - '.:/app'
      - '/app/node_modules'
  json-server: #name of the second service
    build: server # specify the directory of the Dockerfile
    ports:
      - "3000:3000" #specify ports forewarding
    volumes: 
      - './server:/app'