<div class=" bg-indigo-500 p-10 flex justify-center">
    <div class="bg-gray-400 h-full min-w-250 flex border-2 border-black items-center">
        <div class="p-2">
            <img width="220" src="https://avatars2.githubusercontent.com/u/10206236?s=460&u=2cee8f634520c04465b150caa913587161b1ee1d&v=4" alt="Avatar">
        </div>
        <div class="font-sans">
            <div class="p-10">
                <h1 class="font-extrabold">Hi, I'm Abhinav Dinesh</h1>
                <h1>A software engineer who loves front end development. <br> 
                    This is a place where I gather my thoughts, works and social media profiles</h1>
            </div>

            <div class="flex justify-end px-10 items-center">
                <a class="p-2 text-white rounded">See My Portfolio</a>
                <!-- <a class="">Contact Me</a> -->
            </div>
        </div>
    </div>
</div>