<div class="bg-indigo-500 p-5 flex justify-center">
    <div class="bg-gray-400 flex border-2 border-black items-center max-w-screen-md">
        <div class="p-2">
            <img width="220"
                src="https://avatars2.githubusercontent.com/u/10206236?s=460&u=2cee8f634520c04465b150caa913587161b1ee1d&v=4"
                alt="Avatar">
        </div>
        <div class="font-sans mx-10">
            <div class="my-5">
                <h1 class="mb-4 font-extrabold">Hi, I'm Abhinav Dinesh</h1>
                <h1>A software engineer who loves front end development. <br>
                    This is a place where I gather my thoughts, works and social media profiles</h1>
            </div>

            <div class="flex justify-end mb-5 items-center">
                <a class="px-6 py-2 text-whitw border-black border-2 border-opacity-0 hover:text-black hover:border-opacity-100" routerLink="/portfolio">See My Portfolio</a>
                <!-- <a class="">Contact Me</a> -->
            </div>
        </div>
    </div>
</div>