<div class="flex flex-col justify-center my-10 max-w-screen-md mx-auto">
    <div class="h-24 flex justify-center items-center">
        <h1 class="font-semi-bold text-lg border-2 border-gray-200  border- p-3 text-gray-500">Projects</h1>
    </div>

    <div>
        <ul>
            <li>
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <div class="flex items-center my-2">
                            <img class="mr-5" src="https://cdn0.iconfinder.com/data/icons/job-seeker/256/laptop_job_seeker_employee_unemployee_work-48.png" alt="job icon">
                            <h3 class="text-lg"> Find Me a Job </h3>
                        </div>
                        <div>Job aggregator with daily email alerts for matching jobs and improved search</div>
                    </div>
                    <div class="flex justify-end items-center">
                        <a class="mr-5" href="">Source</a>
                        <a href="mr-5">Demo</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>