<main>
    <p>
       Hi. I'm Abhinav. I code, knows graphic design, learns almost everyday, started competitve programming,
       listens to music of all genres</p>
    <p>
        I had a small startup called <i> HungryMeNot</i>, which I started with my friends in college. Although it didnt take off like we expected it to,
        I learned lots of things from that two years. It opened many new doors and taught us how to step out of the comfort zone and meet new people. 
    </p>
    <p>
        After calling it quits I started looking for a job. I ended up in an exciting startup called <i>CareStack</i>. The office space was one of the best in the state. I got to work with some of the best minds. That place was a launching pad like none other for all the junior devs, the place taught me how the industry worked in an elightening and sometimes scary ways. I owe a bunch of people at this company a lot. 
        
    </p>
    <p>
        My next stint was with an early stage startup of 6 people which grew to 10+ later. I took ownership of the frontend, in-fact looking back I'm amazed at how the founders of the company had more confidence in me than I did in myself back then. I was exposed to problems and challenges, that in other companies would be faced by far senior developers. Solving these problems were the most rewarding job. The one year I spent here takling all the technical challenges made me the kind of developer I'm right now.</p>
    <p>
        My current stint is at a company making a name for itself in the identity resolution space. The company prides itself about the company culture and rightfully so, the culture here is one of the best. I can see myself (or anyone) working here for a long long time.</p>
</main>