<main>
    <p>
        A software engineer who loves front end development.
        This is a place where I gather my thoughts, works and social media profiles</p>
    <p>
        A software engineer who loves front end development.
        This is a place where I gather my thoughts, works and social media profiles</p>
    <p>
        A software engineer who loves front end development.
        This is a place where I gather my thoughts, works and social media profiles</p>
    <p>
        A software engineer who loves front end development.
        This is a place where I gather my thoughts, works and social media profiles</p>
</main>