<div class="px-10 py-5 bg-white flex justify-between items-center">
  <div class="p-4 min-w-20 flex items-center">
    <img src="https://cdn1.iconfinder.com/data/icons/flat-christmas-icons-1/75/_cabin-64.png" alt="Logo">
    <h2 class="text-3xl font-semibold ml-8">Abhinav Dinesh</h2>
  </div>

  <ul class="flex justify-end p-4">
    <a class="link" routerLink="/about">About</a>
    <a class="link" routerLink="/portfolio">Portfolio</a>
    <a class="link" routerLink="/blog">Blog</a>
    <a class="link" routerLink="/videos">Videos</a>
  </ul>

</div>