/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.21);
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.link {
  @apply w-20 justify-center flex text-sm
}